* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 75%;
  height: 100%;
  margin: auto;
}
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-direction-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
/*start nav*/
nav {
  width: 100%;
  height: 60px;
  background-color: #212529;
  position: fixed;
}

.nav-logo img {
  width: 200px;
}

.nav-logo,
.nav-links {
  width: 50%;
}

.nav-links ul {
  list-style: none;
  height: 100%;
}

.nav-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #ffc800;
}

@media (max-width: 680px) {
  .nav-links {
    display: none;
  }
}
/*end nav*/
/*start header*/
header {
  width: 100%;
  height: 850px;
  background-image: url(../img/header-bg.jpg);
  background-attachment: fixed;
  color: white;
}

header p {
  font-size: 35px;
  text-transform: capitalize;
}

header h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 15px 0px;
}

header button {
  padding: 20px 40px;
  text-transform: uppercase;
  background-color: #ffc800;
  color: white;
  border: 1px solid #ffc800;
  border-radius: 5px;
}
header button:hover {
  background-color: #e6c54e;
}

@media (max-width: 927px) {
  header h1 {
    font-size: 45px;
  }
}

@media (max-width: 695px) {
  header .container {
    align-items: flex-start;
  }
}
/*end header*/
/*start services*/
.services {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}
.services h1 {
  font-size: 30px;
  margin-top: 20px;
  text-transform: uppercase;
}

.services p {
  margin-top: 10px;
  text-transform: capitalize;
}

.service {
  height: auto;
}

.service i {
  background-color: #ffc800;
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 50%;
  font-size: 35px;
  color: white;
}

@media (max-width: 660px) {
  .services .container {
    flex-direction: column;
  }
  .services {
    height: 1100px;
  }
}
/*end services*/
/*start portfoilio*/
.portfoilio {
  width: 100%;
  height: 1900px;
  background-color: rgb(248, 249, 250);
}

.portfoilio h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.portfoilio p {
  margin-top: 10px;
  text-transform: capitalize;
}

.portfoilio img {
  width: 100%;
}
.portfolio-project {
  width: 32%;
  height: 500px;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
}

.portfoilio .container {
  flex-wrap: wrap;
}

@media (max-width: 685px) {
  .portfoilio .container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .portfolio-project {
    width: 100%;
  }
}
/*end portfoilio*/
